@import url('https://fonts.googleapis.com/css?family=Italianno|Raleway&display=swap');

html,body{
    font-family:  'Raleway', sans-serif;
    height: 100%;
    position: relative;
}

.brand{
    display: flex;
    flex-direction: row;
    align-items: center;
}
a:hover{
text-decoration: none !important;
}

.logo{
    max-height: 50px;
}
.quote{
    font-family: 'Italianno', cursive;
    padding-bottom: 40px;
}

.logo-text{
    margin-left: 15px;
    position: relative;
    font-size: 1.2rem;
    color:#3F3F3F;
    top:4px;
    font-weight: 600;
    letter-spacing: 2px;
}

.no-text-decoration{
    text-decoration: none !important;
}
.form-control:focus {
    border-color: #989b95;
    box-shadow: none;
}

.btn-primary{
    background: linear-gradient(46.28deg,#95ac81 ,#69884D);
    border: none !important;
}

a:focus, a:active, .btn-primary:focus, .btn-primary:active{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}


button:focus{
    outline: none !important;
}

.navbar{
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.09);
}

.navbar-toggler{
    font-size: 12px;
}

.nav-link{
    letter-spacing: 2px;
    font-size: 0.7rem;
    color: #3F3F3F !important;
}



@media(min-width:576px){
    .nav-link{
        padding-left: 1rem !important;
    }
}

@media(max-width:700px){
    .quote{
        font-size: 1.7rem;
    }
    .homepage-images-div{
        padding:0px !important;
    }

}

.main-container{
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}

.home-content{
    padding-top:40px;
    
}

.homepage-images-div{
    background-color: #EFEFEF;
    min-height: 400px;
    padding:30px;
}

.homepage-images-left{
   background-size: cover;
   background-position: center;
    height:400px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/bythem-f0fdb.appspot.com/o/images%2Fcbffc746-c00f-4a14-86c3-1cea8da42591.jpg?alt=media&token=11588099-fcf2-4915-b178-b4df7fc66753)
}
.homepage-images-center{
    background-size: cover;
    background-position: center;
    height:400px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/bythem-f0fdb.appspot.com/o/images%2F99c0eb4f-5825-47a6-af2c-dc169a9d6ca1.jpg?alt=media&token=a69de162-3f91-4fe7-9927-1bd52391a44a)
}
.homepage-images-right{
    background-size: cover;
    background-position: center;
    height:400px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/bythem-f0fdb.appspot.com/o/images%2F66cb8eb7-fb12-45fc-87ff-7aa59b8a7c96.jpg?alt=media&token=32653437-ae1c-4703-a599-b3f3c71c3a5b)
}


.homepage-about-title{
    letter-spacing: 5px;
}

.page-title{
    font-weight: 300;
}

.service-title{
    font-weight: 600;
}

.services-card{
    box-shadow: 0 5px 15px #dcdada, 0 2px 3px #dcdada;
    border-radius: 10px;
}

.footer{
    background: #69884D;
    background:  linear-gradient(46.28deg,#69884D,#95ac81 );
    color: white;
   padding: 10px;
   
    position: absolute;
    bottom: 0;
    width: 100%;
  
}


.footer-text{
    color: white !important;
    letter-spacing: 4px;
    margin: 0px;
    font-size: 0.7rem;

}

.social-icon{
    height: 14px !important; 
    width: 14px !important;
}

.social-icon:hover{
 color:#69884D !important;
}
.service-card-description{
    max-height: 144px;
    overflow: hidden;
}
.services-image{
    border-radius:10px 10px 0 0 ;
    min-height: 270px;
    max-height: 270px;
    background-position: center;
}

.sdetail-description{
    line-height: 1.8;
}


.portfolio-project-card{
    position: relative;  
    box-shadow: 0 5px 15px #dcdada, 0 2px 3px #dcdada;
    border-radius: 10px;
}

.portfolio-project-card:hover .portfolio-project-short-description .description{
    transform: none;
    background: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, .1);
}
.portfolio-project-card:hover .portfolio-project-short-description .description .description-title{
    opacity: 1;
    transition: .1s;
}


.portfolio-project-card:hover .portfolio-project-short-description .description .description-text{
    opacity: 1;
    transition: .1s;
}

.portfolio-project-card:hover .portfolio-project-short-description .project-border-top{
    opacity: 1;
    transition: .2s;
}

.portfolio-project-image{
    border-radius: 10px;
    width: 100%;
}
.portfolio-project-short-description{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 100%;
    overflow: hidden;
    transition: .1s;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 0 0 10px 10px;

}
.portfolio-project-short-description .description{
    padding: 15px;
    display: block;
    transition: 0.2s ease;
    transform: translateY(10px);
    border-radius: 0 0 10px 10px;
}

.portfolio-project-short-description .project-border-top{
    opacity: 0;
    height: 3px;
    width: 100%;
    background: #69884D;
    background:  linear-gradient(46.28deg,#69884D,#95ac81 );
}

.portfolio-project-short-description .description .description-title{
    opacity: 0;
    font-weight: bold;
    font-size: 1.1rem;
}

.portfolio-project-short-description .description .description-text{
    opacity: 0;
}

a, p{
    color:#989b95;
}

a:hover{
    color:#69884D;
}

h5{
    color:#989b95;
    font-size: 1rem;
}


